@use "@finance-styles/variables" as *;

.techan-chart {
  .plot-indicator.bbands path {
    &.upper {
      stroke: $bbands-upper-color;
    }
    &.middle {
      stroke: $bbands-middle-color;
    }
    &.lower {
      stroke: $bbands-lower-color;
    }
  }
}
