x-podman:
  default_net_name_compat: true
  default_net_behavior_compat: true
  in_pod: false

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
#      target: development
    environment:
      - API_HOST=backend
#      - FLASK_DATABASE_HOST=db
      - FLASK_DATABASE_HOST=host.containers.internal
#      - FLASK_DATABASE_USER=fin_models
#      - FLASK_DATABASE_PASSWORD=fin-models
#      - FLASK_DATABASE_NAME=fin_models
      - FLASK_REDIS_HOST=redis
      - POLYGON_API_KEY=${POLYGON_API_KEY}
    ports:
      - 5000:5000
    networks:
      - private
    volumes:
      - ${HOME}/.fin-models-data:/root/.fin-models-data
      - ./backend:/usr/src/app/backend
      - ./bundles:/usr/src/app/bundles
      - ./db:/usr/src/app/db
      - ./templates:/usr/src/app/templates
      - ./libs/fin-models:/usr/src/app/libs/fin-models
      - ./libs/fun:/usr/src/app/libs/fun
      - ./libs/sqlalchemy-unchained:/usr/src/app/libs/sqlalchemy-unchained
      - ./libs/flask-sqlalchemy-unchained:/usr/src/app/libs/flask-sqlalchemy-unchained
      - ./libs/py-meta-utils:/usr/src/app/libs/py-meta-utils
    depends_on:
#      db:
#        condition: service_healthy
      redis:
        condition: service_started
#  db:
#    image: postgres:alpine
#    environment:
#      - POSTGRES_USER=fun_techan
#      - POSTGRES_PASSWORD=fun_techan
#      - POSTGRES_DB=fun_techan
#    restart: always
#    volumes:
#      - db_data:/var/lib/postgresql/data
#    networks:
#      - private
#    expose:
#      - 5432
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U fun_techan -d fun_techan" ]
#      interval: 5s
#      timeout: 5s
#      retries: 5
  redis:
    image: docker.io/redis:latest
    restart: always
    networks:
      - private
    expose:
      - 6379
  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
#      target: development
    environment:
      API_HOST: backend
    ports:
      - 8888:8888
    userns_mode: keep-id
    volumes:
      - "./frontend:/home/node/frontend:z"
      - "~/dev/techan.js:/home/node/techan.js:z"
    networks:
      - public
      - private
    depends_on:
      - backend
networks:
  public:
  private:
    driver: bridge
volumes:
#  db_data:
#    driver: local
  fin_data:
    driver: local
