@use '@finance-styles/variables' as *;

.watchlist {
  .watchlist-key {
    font-weight: bold;
    font-size: 24px;
  }

  ul {
    list-style: none;
    margin-bottom: 5px;

    .ticker {
      float: left;
      position: relative;
      height: 45px;

      a {
        position: absolute;
        font-size: 16px;
        top: 11px;
        padding-left: 2px;
      }
    }

    .quote {
      float: right;
      text-align: right;
      padding-right: 8px;

      .change {
        &.up {
          color: $up-color;
        }
        &.down {
          color: $down-color;
        }
      }
    }

    li {
      border-bottom: 1px solid #eee;
      margin-bottom: 0;
      padding: 3px 0;
      &:first-of-type {
        border-top: 1px solid #eee;
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
}
