@use "@finance-styles/variables" as *;

$sidebar-width: 200px; // should match CHART_SIDEBAR_WIDTH in finance/constants.js

.chart-container-wrap {
  padding-right: $sidebar-width;

  .chart-container {
    float: left;
    width: 100%;

    .chart-controls {
      color: white;
      position: absolute;
      top: 10px;
      right: 245px;

      .row {
        text-align: right;
        margin-bottom: 8px;
      }

      button {
        box-sizing: border-box;
        color: white;
        text-transform: none;
        padding: 0;
        margin-left: 5px;
        height: 25px;
        line-height: 25px;
        border: 1px solid transparent;

        &.active {
          border: 1px solid white;
          padding: 0 5px;
          &:hover {
            border-bottom: 1px solid white;
            cursor: default;
          }
        }
        &:hover {
          border-bottom: 2px solid white;
        }
      }
    }
  }

  .sidebar {
    width: $sidebar-width;
    margin-right: -$sidebar-width;
    padding: 10px 0 0 10px;
    float: right;

    input {
      width: 100%;
    }
    form {
      margin-bottom: 0;
      padding-right: 10px;
    }
  }
}
